body {
	font-family: 'Raleway', sans-serif;
}

.navigation li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

h1 {
  color: #641E16;
  font-family: 'Amatic SC', cursive;
  font-size: 172px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

a {
  text-decoration: none;
  color: #14213D;
}

input[type=text], input[type=tel], input[type=email], select, textarea {
  width: 40%;  
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  resize: vertical 
  }
#form {
  margin: : 120px auto;
  text-align: center;
  position:relative;

}

.shaded {
  background-color:#D98880;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 35px;
  height: 300px;
  width: 90%;
  text-align:center;
}

.btn {
  background-color: #14213D;
  color: #FFF;
  font-family: 'Raleway', cursive;
  font-size: 35px;
  padding: 10px;
  background-image: -webkit-linear-gradient(#641E16, #E74C3C);
}

.left-col {
	text-align:center;
	display: inline-block;
	width:30%;
}

.right-col {
	text-align:center;
	display: inline-block;
	width:30%;
}

.main {
	text-align:center;
}